body, html {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Montserrat', sans-serif;
}

hr {
	max-width: 65px;
	border-width: 3px;
	border-color: #2e3561;
}

.faded {
	color: #2e3561;
}

header.startup {
	background-position: center;
	background-image: url("./BMDComb.jpg");
	background-size: cover;
	height: 100%;
}

header.startup hr {
	margin-top: 200px;
	margin-bottom: 30px;
}

header.startup h1 {
	font-size: 4rem;
}

.btn {
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 300px;
	font-family: 'Montserrat', sans-serif;
}

.btn-xl {
	padding: 1rem 2rem;
}

.btn-primary {
	background-color: #2e3561;
	border-color: #2e3561;
}

.btn-primary:hover {
	background-color: rgb(75, 86, 158);
	border-color: #2e3561;
	border-width: 5px;
	cursor: pointer;
}

p.faded {
	font-size: 1.5rem;
}

a {
	color: inherit;
}

a:hover {
	text-decoration: none;
	background-color: beige;
}

a:active {
	text-decoration: none;
}